.grabacion{
    margin-bottom: 100px;
}

.grabtop img {
    display: inline-block;
    align-items: center;
    width: 50%;
    vertical-align: top;
}

.contright {
    display: inline-block;
    vertical-align: top;
    width: 47%;
    padding-left: 30px;
}

.curibot {
    text-align: center;
}

.curibot img {
    display: inline-block;
    vertical-align: top;
    margin: 0 2%;
    margin-top: 25px;
}