.contenidoizq {
    width: 60%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

.contenidoder {
    width: 39%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    margin: 6px;
}

.imagen1 {
    display: inline-block;
    border: 5px solid black;
    height: auto;
}

.texto2 {
    font-family: "Rubik", sans-serif;
    color: white;
    position: relative;
    font-size: 25px;
    text-align: center;
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
   -1px  1px 0 black,
    1px  1px 0 black;
}

.texto2 a {
    color: white;
}