.infotop {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 10px;
}

.contleft {
    width: 50%;
}

.contright {
    width: 50%;
    text-align: right;
    padding-top: 60px;
}

.premios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 60px;
}

.premiosleft, .premiosright {
    width: 50%;
}

.premiosright h2{
    font-size: 35px;
}

.listado li {
    font-family: "Rubik", sans-serif;
    color: white;
    position: relative;
    font-size: 25px;
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
   -1px  1px 0 black,
    1px  1px 0 black;
    margin-bottom: 20px;
}