.actor{
    margin-bottom: 50px;
}

.actor h2 {
    font-family: "Rubik", sans-serif;
    color: white;
    position: relative;
    font-size: 30px;
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
   -1px  1px 0 black,
    1px  1px 0 black;
    margin-bottom: 10px;
}

.infoactor {
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 20px;
}

.contleft {
    width: 65%;
    padding-right: 50px;
}

.actor img {
    width: 550px;
    height: 320px;
    object-fit: cover;
}
