.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.contleft {
    text-align: left;
    width: 65%;
    padding-right: 50px;
}

aside {
    width: 34%;
    padding-left: 60px;
}

.bloque{
    text-align: center;
}

.cita {
    font-family: "Rubik", sans-serif;
    color: white;
    font-size: 15px;
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
   -1px  1px 0 black,
    1px  1px 0 black;
}